/OptDist/nbproject/private/
/Lab_9/nbproject/private/
/Back-end/New Folder/Pachet_distributie/nbproject/private/
/Back-end/src/Class_implementation/JavaApplication18/nbproject/private/
/Back-end/src/Class_implementation/Class_implementation/nbproject/private/
/Back-end/OptDist/nbproject/private/
/Back-end/OptDist/build/