body

{

	font: 15px/1.5 Arial, Helvetica,sans-serif;

	padding: 0;

	margin: 0;

	background-color: #f4f4f4;

}



.containerBrand

{

	width: 80%;

	margin: auto;

	overflow: hidden;

}



header

{

	background: #4f74e3;

	padding-top: 10px;

	min-height: 10px;

	border-bottom: #000000 3px solid;

}


header #branding
{
	float: left;
}

header #branding img
{
	width: 90px;
}





#FII
{
	border-bottom: #000000 3px solid;
}

#FII .LogoFII img
{
    width: 130px;
    padding-left: 103px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#container 
{	padding-left: 50px;

	padding-right: 50px;

    border-right: 2px solid #4f74e3;

    border-left: 2px solid #4f74e3;

    margin-left: 200px;

    margin-right: 250px;

    margin-top: 10px;

    min-height: 450px;

    text-align: left;   
	
}

#Logout
{
	
	float: right;
	padding-right:10%;
	
}
ul
{
	list-style-type: circle;
}

#container a
{ color:black;
text-decoration:none;
}


.containerUAIC

{

	position: relative;

	right: 0;

	bottom: 0;

	left: 0;

	padding: 0.1rem;

	text-align: center;

	border-top: #000000 3px solid;

}




