.topbar {
    display: inline;
}
.loginBtn {
    position: absolute;
    margin-left: 83.333333%;
    display: flex;
}
.bgColor {
    background-color: #a5b9ff;
}
.centerDet {
    display: inline;
    padding-left: 43%;
    padding-top: 5%;
}
.loginMessage {
    padding-right: 5%;
    padding-top: 5%;
}

.lista-item {
    width: 11%;
}

#textOpt {

}

.listaOpt {
    position: absolute;
    width: 95%;
    margin-top: 10%;
    margin-left: 5%;
}
#regulament {
    position: absolute;
    left: 35%;
    margin-top: 8%;
}
#optionalInfo2 {
    position: absolute;
    left: 41%;
    margin-top: 8%;
    display: none;
}
#optionalInfo3 {
    position: absolute;
    left: 41%;
    margin-top: 8%;
    display: none;
}
.sem {
    float: left;
}
#modificaOpt {
    display: none;
}
#vizStuds {
    display: none;
}
#modifDistrib {
    display: none;
}
#moreInfo {
    position: absolute;
    left: 90%;
    bottom: 25%;
}